# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
questions.md
Report.md


# Gradio
.gradio/

# Dataset & runtime files
data/
runs/

# Generated reports & repair uploads (images)
static/reports/
static/repairs/
logs/

# OS / Editor
.vscode/
.DS_Store

# Jupyter
.ipynb_checkpoints/
